{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}
  <div id="breadcrumb">
    <div class="container">
      <div class="breadcrumb">
        <li><a href="index.php">Home</a></li>
        <li>Owner Change Password</li>
      </div>
    </div>
  </div>

  <div class="aboutus">
    <div class="container">
      <!-- REPEAT RESULT -->

<div class="col-xs-12 align-center" >
      {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
  	<div class="col-sm-8 col-sm-offset-2 well input-form">
        	<h3>Owner Change Password</h3>
            <form acton="" class="form-horizontal" method="POST" novalidate >
              {% csrf_token %}
                    <div class="form-group">
                     <div class="col-sm-12 align-center">
                     {{ form.non_field_errors }}
                     </div>
                  </div>
              <div class="form-group">
                <label for="{{ form.oldpassword.id_for_label }}" class="col-sm-3 control-label text-success">Old Password</label>
                <div class="col-sm-9">
                  {{ form.oldpassword }}
                  {{ form.oldpassword.errors }}
                </div>
              </div>
                              <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="col-sm-3 control-label text-success">New Password</label>
                <div class="col-sm-9">
                  {{ form.password }}
                  {{ form.password.errors }}
                </div>
              </div>
                              <div class="form-group">
                <label for="{{ form.conpassword.id_for_label }}" class="col-sm-3 control-label text-success">Confirm Password</label>
                <div class="col-sm-9">
                  {{ form.conpassword }}
                  {{ form.conpassword.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>

            <div class="clearfix"></div>
        </div>
      <!-- REPEAT RESULT -->



    </div>
  </div>

{% include "includes/footer.html" %}