{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}

<style>
	table th{color:#1D1D1D}
	table td{color:#3E3E3E}
</style>
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.php">Home</a></li>
            <li>Booked Places</li>
        </div>
    </div>
</div>

<div class="aboutus">
    <div class="container-fluid">
        <h3>Booked Places</h3>
        <hr>
        <div class="col-xs-12 align-center">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                        {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if orders %}
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Sl#</th>
                    <th>Title</th>
                    <th>Booking Type</th>
                    <th>Booking Date Checkin</th>
                    <th>No of Rooms</th>
                    <th>Date/Seat/Ticket</th>
                    <th>Total Price</th>
                    <th>Cardholder name</th>
                </tr>
                {% for i in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.booking_title }}</td>
                    <td>{{ i.booking_type }}</td>
                    <td>{{ i.booking_date_text }}</td>
                    <td>{{ i.booking_no_of_rooms }}</td>
                    <td>{{ i.booking_count }}</td>
                    <td>Rs. {{ i.total_price }}</td>
                    <td>{{ i.cardholder_name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="col-sm-12">
            <p>No orders Added</p>
        </div>
        {% endif %}
    </div>
</div>
{% include "includes/footer.html" %}